numpy>=1.17,<2
pandas
transformers<=4.33 --extra-index-url https://download.pytorch.org/whl/cu124
accelerate
peft
trl
datatrove
unsloth[conda]
deepspeed
PyGithub
flash-attn
huggingface-hub
evaluate
datasets
bitsandbytes
einops
wandb
tensorboard
tiktoken
scipy
matplotlib
sentencepiece
nltk
xformers