numpy>=1.17.3,<1.25.0
pandas
transformers
accelerate
peft
trl
datatrove
unsloth[conda]@git+https://github.com/unslothai/unsloth.git
deepspeed
PyGithub
flash-attn
huggingface-hub
evaluate
datasets
bitsandbytes
einops
wandb
tensorboard
tiktoken
scipy
matplotlib
sentencepiece
nltk
xformers